
body{
    height: 100vh;
    width: auto;
    background-color: rgba(0, 0, 0, 0.83);
}

.container{
    margin-left: 15%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: .6fr 1fr;
    height: 100%;
    width: 70%;
    
}

.picture-section{
    background-image: url("./images/locked_keys.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.picture-creds{
    position: absolute;
    bottom: 0;
    margin-left: 90px;
    color: white;
}
.logo{
    margin-top: 200px;
    color: white;
    background-color:   rgba(160, 209, 177, 0.8); 
    width: 100%;
    height: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
.sign-up-section{
    height: 400px;
    /* display: grid; */
    /* grid-auto-rows: 1fr 1fr; */
 
}
.intro{
    background-color: rgba(238, 238, 238, 0.857);
    height: 300px;
    margin: 0;
    font-size: 30px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}

.btn{
    background-color: green;
    border-radius:  4px;
    height: 30px;
}


