
body{
    height: 100vh;
    width: auto;
    background-color: rgba(0, 0, 0, 0.83);
}

.container{
    margin-left: 15%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: .6fr 1fr;
    height: 100%;
    width: 70%;
    
}

.picture-section{
    background-image: url("./images/locked_keys.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.picture-creds{
    position: absolute;
    bottom: 0;
    margin-left: 90px;
    color: white;
}
.logo{
    margin-top: 200px;
    color: white;
    background-color:   rgba(160, 209, 177, 0.8); 
    width: 100%;
    height: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
.sign-up-section{
    /* height: 100%; */
    /* display: grid; */
    /* grid-auto-rows: 1fr 1fr; */
    background-color: white;
 
}

.intro{
    background-color: rgba(255, 255, 255, 0.956);
    height: 26%;
    margin: 0;
    
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.intro .text{
    margin-top: 6%;
    font-size: 1.4rem;
}


.btn{
    background-color: green;
    border-radius:  4px;
    height: 30px;
}

.form form{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background-color: white;
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 2px 1px 7px 5px rgba(0, 0, 0, 0.1);   
}

.form input[type=text],
input[type=email],
input[type=tel],
input[type=password]

{
    margin-top: 20px;
    margin-left: 20px;
    width: 40%;
    height: 30px;
}

.form input[type=submit]{
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: white;
    background-color:  rgba(160, 209, 177, 0.8);
    height: 30px;
   
    font-size: 15px;
    width: 200px;
    height: 30px;
}

input[type=submit]:hover{
    background-color:  rgba(160, 209, 177, 0.441)
}



